
.temp-logo {
  font-size: 3.2rem;
  font-family: "Montserrat", sans-serif;
  color: #143e60;
}
.footer-temp-logo {
  font-size: 4.2rem;
  font-family: Rock Salt, sans-serif !important;
  color: white;
}

/* SECTION - PORTFOLIO-DETAILS */
.portfolioDetails-description {
  font-size: 2.4rem;
  line-height: 1.2;
}
.techStack-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.portfolio-item-img-box img {
  width: 100%;
}
.portfolio-details-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 2.4rem;
}
.demo:link,
.demo:visited {
  text-decoration: none;
  background-color: #5956e9;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  font-size: 2rem;
  font-weight: 600;
  margin-top: -1.2rem;
  transition: all 0.3s;
  box-shadow: 0px 0px 30px -18px rgb(0 0 0);
}
.demo:hover,
.demo:active {
  background-color: #292930;
}
.techStack-description {
  font-size: 2.4rem;
  line-height: 1.8;
}
.portfolio-details-bottom {
  margin-left: 14.8rem;
  margin-right: 14.8rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
.case-study {
  /* margin: 3.2rem 6.4rem; */
  margin-left: 6.4rem;
  margin-right: 6.4rem;
}

/* **************SECTION-FOOTER**************** */
footer {
  position: relative;
}
.section-footer {
  margin-top: 20rem;
  padding: 3.2rem 0;
  background-color: #292930;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12.2rem;
}
.section-footer .flex {
  justify-content: space-around;
  align-content: space-around;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: white;
  font-size: 2.4rem;
}
.footer-link-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 0.8rem;
}
.footer-logo-box {
  margin-block: auto;
}

/* *****************SECTION-FOOTER-WAVE****************** */
.custom-shape-divider-bottom-1652512758 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-bottom-1652512758 svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 76px;
}
.custom-shape-divider-bottom-1652512758 .shape-fill {
  fill: #292930;
}
.wave {
  position: relative;
}
/* temp */
.custom-shape-divider-bottom-1652599454 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-bottom-1652599454 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 65px;
  transform: rotateY(180deg);
}
.custom-shape-divider-bottom-1652599454 .shape-fill {
  fill: #eee;
}
/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1652599454 svg {
    width: calc(300% + 1.3px);
    height: 52px;
  }
}