/**********SECTION-ABOUT-ME**********/

.section-about-me-ab {
  background: #292930;
}

.about-me-img-box-ab {
  text-align: center;
  margin-top: -2rem;
}

.about-me-img-box-ab img {
  width: 75%;
}

.about-me-text-ab {
  font-size: 2.4rem;
  color: #ffffff;
  line-height: 1.8;
  margin-top: 1.2rem;
  text-align: center;
}

.highlight-ab {
  color: #ffd109;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.8rem;
}

/************* REUSABLE ELEMENTS ************/
.heading-secondary-ab {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
.heading-secondary-ab {
  font-size: 3.6rem;
  line-height: 1.2;
  /* margin-bottom: 9.6rem; */
}
.subheading-ab {
  display: block;
  font-size: 5.75rem;
  font-weight: 700;
  color: #ffffff;
  padding-top: 7.6rem;
  margin-bottom: 2.6rem;
  letter-spacing: 0.75px;
  display: flex;
  justify-content: center;
}
.container-ab {
  /* 1140px */
  /* max-width: 120rem; */
  padding: 0 6.4rem;
  margin: 0 auto;
  margin-bottom: 4.2rem;
}
.grid-ab {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 4.6rem;
}
.grid-col-2-ab {
  grid-template-columns: repeat(2, 1fr);
}

/* 1) Below 1100px */
@media (max-width: 68.75rem) {
  /* Grid */
  .grid-ab {
    column-gap: 5.4rem;
    row-gap: 4.6rem;
    padding-top: 4rem;
  }
  .about-me-img-box-ab img {
    padding-top: 4rem;
    width: 102%;
  }
}
/* 2) Below 1000px */
@media (max-width: 62.5rem) {
  .heading-secondary-ab {
    font-size: 3.2rem;
  }
  .subheading-ab {
    font-size: 6.375rem;
    margin-bottom: 1.4rem;
  }
  /* Section About Me */
  .about-me-text-ab {
    font-size: 2.1rem;
    line-height: 1.7;
    padding-bottom: 4rem;
  }
  .highlight-ab {
    font-size: 2.6;
  }
}
/* 3) Below 832px */
@media (max-width: 52rem) {
  /* General */
  .heading-secondary-ab {
    font-size: 2.7rem;
  }
  .subheading-ab {
    font-size: 6.375rem;
    margin-bottom: 1.4rem;
  }
  /* Section About Me */
  .about-me-text-ab {
    font-size: 1.8rem;
    line-height: 1.7;
    padding-bottom: 4rem;
  }
  .highlight-ab {
    font-size: 2.2rem;
  }
  .section-about-me-ab .grid-ab {
    column-gap: 2.4rem;
    margin-bottom: 0;
    padding-top: 3rem;
  }
}
@media (max-width: 52rem) {
  .about-me-img-box-ab img {
    padding-top: 2rem;
  }
}
/* 4) Below 708px */
@media (max-width: 44.25rem) {
  /* Section About Me */
  /* Test-General */
  .container-ab {
    padding: 0 3.2rem;
  }
  .section-about-me-ab .grid-ab {
    column-gap: 5.4rem;
    row-gap: 4.6rem;
  }
  .section-about-me-ab .grid-col-2-ab {
    grid-template-columns: 1fr;
    grid-row-gap: 0.2rem;
  }
  .section-about-me-ab .about-me-img-box-ab {
    text-align: center;
    grid-row: 1/2; /* Adjusted grid-row value */
  }
  .section-about-me-ab .about-me-img-box-ab img {
    width: 66%;
    margin-top: 2.2rem;
    padding-top: 0rem;
  }
}

/*6) Below 480px */
@media (max-width: 30rem) {
  /* General */
  .container-ab {
    padding: 0 2.4rem;
  }
}

/* TIME LINE -H */
.col-lg-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}

.line {
  stroke: rgb(251, 250, 250);
  stroke-width: 1.5;
}

.circle {
  stroke: #f8f9fa;
  stroke-width: 6;
}

.text {
  font-size: 13px;
  text-anchor: middle;
}

.text-small {
  font-size: 13px;
  text-anchor: start;
  font-style: italic;
}

@media (max-width: 768px) {
  .col-lg-12 {
    display: none;
  }
}

/* TIME LINE -V */
.col-lg-v {
  display: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}

.line {
  stroke: rgb(251, 250, 250);
  stroke-width: 1.5;
}

.circle {
  stroke: #f8f9fa;
  stroke-width: 6;
}

.text {
  font-size: 13px;
  text-anchor: middle;
}

.text-small {
  font-size: 13px;
  text-anchor: start;
  font-style: italic;
}
@media (max-width: 767px), (max-width: 768px) {
  /* Show the SVG on mobile devices and iPad Mini */
  .col-lg-v {
    display: flex;
  }
}

/* Student Activities */
.section-skills-st {
  position: relative;
  background-color: var(--color-4);
  padding-block-end: 7.2rem;
}

.section-skills-badge {
  position: relative;
  background-color: var(--color-6);
  padding-block-end: 3.6rem;
}

.skills-grid-st {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5.5rem;
  justify-items: center;
  margin-top: 3.2rem !important;
}

.skills-subheading-st {
  font-size: 1.8rem;
  font-weight: 500;
  color: #666;
  margin-bottom: 7.2rem;
  margin-top: 1.2rem;
  letter-spacing: 0.75px;
}

.skill-item-st {
  text-align: center;
}

.skill-item-st:hover .skill-item-img-st {
  transform: scale(1.1);
}

.skill-item-img-st {
  transition: transform 0.3s ease-in-out;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}

@media (max-width: 62.5rem) {
  .skills-grid-st {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid_position {
    grid-column: 1/-1;
  }
}

@media (max-width: 52rem) {
  .skills-grid-st {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid_position {
    grid-column: 1/-1;
  }
}

@media (max-width: 44.25rem) {
  .skills-grid-st {
    column-gap: 1.2rem;
  }
}

@media (max-width: 35.5rem) {
  .skills-grid-st {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid_position {
    grid-column: 1/-1;
  }
}

@media (max-width: 30rem) {
  .skills-grid-st {
    column-gap: 1.2rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 63.5%;
  overflow-x: hidden;
  font-family: "Secular One", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.subheading_st {
  display: block;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 8rem;
  letter-spacing: 0.75px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.subheading_st::before {
  content: "";
  display: block;
  width: 24rem;
  height: 4px;
  border-radius: 4px;
  background-color: #ffd109;
  margin: 0 auto 4.5rem; /* Adjust the spacing above the text */
}

.subheading_st-badge {
  display: block;
  color: #000;
  margin-top: 12rem;
  margin-bottom: 8rem;
  letter-spacing: 0.75px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
}

.portfolio-title-badge {
  font-size: 2.4rem;
  /* font-weight: 400; */
  margin-top: 1.8rem;
  color: #000;
}

.portfolio-title-st {
  font-size: 2.4rem;
  /* font-weight: 400; */
  margin-top: 1.8rem;
  color: #ffffff;
}
@media (max-width: 60rem) {
  .portfolio-title-st {
    font-size: 1.4rem;
  }
}

@media (max-width: 35.5rem) {
  .section-skills .portfolio-title-st {
    font-size: 1.4rem;
  }
}

@media (max-width: 30rem) {
  .section-skills .portfolio-title-st {
    font-size: 1.4rem;
  }
}
